{% extends 'admin.twig' %}
{% block content %}

    {% if post %}
        <h3>Modifier la news</h3>

        <form action="{{ path_for('postnews') }}" method="post">
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <input type="hidden" name="id" value="{{ post.id }}">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" name='title' id="title" placeholder="Titre" value="{{ post.title }}" required>
        </div>
        <div class="form-group">
            <label for="des">Description</label>
            <textarea class="form-control" name='des' id="des" rows="4">{{ post.des }}</textarea>
        </div>
        <button class="btn btn-primary">Valider</button>
    </form>
    {% else %}
        <h3>Ajouter une nouvelle news</h3>
        <form action="postnews" method="post">
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" name='title' id="title" placeholder="Titre" required>
        </div>
        <div class="form-group">
            <label for="des">Description</label>
            <textarea class="form-control" name='des' id="des" rows="4"></textarea>
        </div>
        <button class="btn btn-primary">Valider</button>
        </form>
    {% endif %}
{% endblock %}