{% extends 'layout.twig' %}

{% block content %}

    <body id="home-slider">
    <div id="page-top"></div>

    <div class="body">

        <!-- HEADER -->
        <header>
            <div class="container">
                <div class="logo col-md-2 col-xs-4">
                    <a href="#"><img src="images/logo.png" class="img-responsive" alt=""/></a>
                </div>

                <div class="col-md-10 col-xs-8 header-right">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="topbar pull-right">
                        <span class="tp-social">
                        <!--<a href="/" class="fa fa-twitter"></a>-->
                        <a href="https://www.facebook.com/Neptunecluboran/?notif_t=page_fan&notif_id=1478471713670884&__mref=message_bubble" class="fa fa-facebook"></a>
                        <!--<a href="/" class="fa fa-google-plus"></a>
                        <a href="/" class="fa fa-dribbble"></a>
                        <a href="/" class="fa fa-linkedin"></a>-->
                        </span>
                            </div>

                            <nav class="menu-wrap">
                                <div id="mobnav-btn"><i class="fa fa-bars"></i></div>
                                <ul class="sf-menu">                            <li>
                                        <a class="page-scroll" href="#page-top">Home</a>
                                    </li>
                                    <li><a class="page-scroll" href="#tours">Événement</a></li>
                                    <li><a class="page-scroll" href="#news-wrap">News</a></li>
                                    <li><a class="page-scroll" href="#playlist">Playlist</a></li>
                                    <li><a class="page-scroll" href="#gallery">Gallerie</a></li>
                                    <li><a href="{{ path_for('reservation') }}">Reservation</a></li>
                                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                                    <!--<li>
                                        <a href="single-album.html">Pages</a>
                                        <div class="mobnav-subarrow"><i class="fa fa-plus"></i></div>
                                        <ul>
                                            <li><a href="single-album.html">Album Single</a></li>
                                            <li><a href="single-blog-fullwidth.html">Blog Single - Fullwidth</a></li>
                                            <li><a href="single-blog-sidebar.html">Blog Single - Sidebar</a></li>
                                        </ul>
                                    </li>-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER -->

        <!-- INTRO -->
        <div id="intro">
            <ul id="supersized"></ul>
            <div class="container">
                <div class="col-md-12 text-center">
                    <h1>Welcome to Neptune</h1>
                    <div class="dual-btns">
                        <a href="#" class="btn btn-default">Prochain evenement</a>
                        <a href="{{ path_for('reservation') }}" class="btn btn-border">Reservation</a>
                    </div>
                </div>
            </div>
            <div class="intro-overlay"></div>
        </div>
        <!-- INTRO -->

        <div class="wrapper">

           
            <!-- NEWS / BLOG -->
            <!--<div id="news-wrap">
                <div class="container">
                    <div class="section-head text-center">
                        <h2> News</h2>
                    </div>

                    <section class="news-main" id="news-main">
                        <div class="container">
                            <div class="row">
                                <div id="news-grid">
                                    <div class="news-item col-md-4">
                                        <div class="ni-wrap">
                                            <img src="images/blog/1.jpg" class="img-responsive" alt=""/>
                                            <h4><a href="single-blog-fullwidth.html">Meet our musik stars</a></h4>
                                            <div class="news-meta">
                                                <span><i class="fa fa-clock-o"></i> Feb 7, 2016</span>
                                                <span><i class="fa fa-user"></i> Admin</span>
                                                <span><i class="fa fa-comments"></i> <a href="#">4 Comments</a></span>
                                            </div>
                                            <p>Donec accumsan enim quis metus convallis risus volutpat non. Aenean eu sollicitudin lacus. Ut tristique neque sed nibh aliquam, quis tincidunt nibh posuere. Nulla at mauris libero.</p>
                                            <a href="#" class="btn btn-default btn-xs">Read More</a>
                                        </div>
                                    </div>

                                    <div class="news-item col-md-4">
                                        <div class="ni-wrap">
                                            <img src="images/blog/2.jpg" class="img-responsive" alt=""/>
                                            <h4><a href="single-blog-fullwidth.html">Live with musik concert</a></h4>
                                            <div class="news-meta">
                                                <span><i class="fa fa-clock-o"></i> Mar 15, 2016</span>
                                                <span><i class="fa fa-user"></i> Admin</span>
                                                <span><i class="fa fa-comments"></i> <a href="#">4 Comments</a></span>
                                            </div>
                                            <p>Donec accumsan enim quis metus convallis risus volutpat non. Aenean eu sollicitudin lacus. Ut tristique neque sed nibh aliquam, quis tincidunt nibh posuere. Nulla at mauris libero.</p>
                                            <a href="#" class="btn btn-default btn-xs">Read More</a>
                                        </div>
                                    </div>

                                    <div class="news-item col-md-4">
                                        <div class="ni-wrap">
                                            <img src="images/blog/3.jpg" class="img-responsive" alt=""/>
                                            <h4><a href="single-blog-fullwidth.html">Its party time</a></h4>
                                            <div class="news-meta">
                                                <span><i class="fa fa-clock-o"></i> Apr 22, 2016</span>
                                                <span><i class="fa fa-user"></i> Admin</span>
                                                <span><i class="fa fa-comments"></i> <a href="#">4 Comments</a></span>
                                            </div>
                                            <p>Donec accumsan enim quis metus convallis risus volutpat non. Aenean eu sollicitudin lacus. Ut tristique neque sed nibh aliquam, quis tincidunt nibh posuere. Nulla at mauris libero.</p>
                                            <a href="#" class="btn btn-default btn-xs">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>-->
            <!-- NEWS / BLOG -->

            <!-- PLAYLIST -->
            <div class="playlist-wrap" id="playlist">
                <div>
                    <div class="content-wrapper fixed left"></div>

                    <div class="content-wrapper right" >
                        <div class="content-container">
                            <div id="jquery_jplayer" class="jp-jplayer"></div>
                            <div id="jp_container" class="jp-audio" role="application" aria-label="media player">
                                <div class="jp-type-playlist">
                                    <div class="jp-gui jp-interface">
                                        <div class="jp-controls">
                                            <button class="jp-previous" role="button" tabindex="0">previous</button>
                                            <button class="jp-play" role="button" tabindex="0">play</button>
                                            <button class="jp-next" role="button" tabindex="0">next</button>
                                            <button class="jp-stop" role="button" tabindex="0">stop</button>
                                        </div>
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                            </div>
                                        </div>
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" role="button" tabindex="0">mute</button>
                                            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value"></div>
                                            </div>
                                        </div>
                                        <div class="jp-time-holder">
                                            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                        </div>
                                        <div class="jp-toggles">
                                            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                                            <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
                                        </div>
                                    </div>

                                    <div class="jp-playlist">
                                        <ul>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>

                                    <!-- FlashPlayer Fallback-->
                                    <div class="jp-no-solution">
                                        <span>Update Required</span>
                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                    </div>
                                    <!-- /FlashPlayer Fallback-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PLAYLIST -->

            <!-- ALBUMS -->
            <div id="albums">
                <div class="section-head text-center">
                    <h2>Notre Albums</h2>
                </div>

                <div class="album-list-wrap ">
                    <!-- Album Item -->
                    <div class="col-md-3 col-sm-6 album-card-wrap nopadding">
                        <div class="album-card">
                            <div class="image hoverdir-target">
                                <img alt="image" src="images/album1.jpg">
                                <div class="overlay" >
                                    <div class="button-wrapper" >
                                        <div class="view-button" >
                                            <a class="link" href="single-album.html">
                                                <span><strong class="bold">View</strong><br>Album</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Album Item -->
                    <div class="col-md-3 col-sm-6 album-card-wrap nopadding">
                        <div class="album-card">
                            <div class="image hoverdir-target">
                                <img alt="image" src="images/album2.jpg" >
                                <div class="overlay" >
                                    <div class="button-wrapper" >
                                        <div class="view-button" >
                                            <a class="link" href="single-album.html">
                                                <span><strong class="bold">View</strong><br>Album</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Album Item -->
                    <div class="col-md-3 col-sm-6 album-card-wrap nopadding">
                        <div class="album-card">
                            <div class="image hoverdir-target">
                                <img alt="image" src="images/album3.jpg" >
                                <div class="overlay" >
                                    <div class="button-wrapper" >
                                        <div class="view-button" >
                                            <a class="link" href="single-album.html">
                                                <span><strong class="bold">View</strong><br>Album</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Album Item -->
                    <div class="col-md-3 col-sm-6 album-card-wrap nopadding">
                        <div class="album-card">
                            <div class="image hoverdir-target">
                                <img alt="image" src="images/album4.jpg" >
                                <div class="overlay" >
                                    <div class="button-wrapper" >
                                        <div class="view-button" >
                                            <a class="link" href="single-album.html">
                                                <span><strong class="bold">View</strong><br>Album</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Album Item -->
                    <div class="col-md-3 col-sm-6 album-card-wrap nopadding">
                        <div class="album-card">
                            <div class="image hoverdir-target">
                                <img alt="image" src="images/album5.jpg" >
                                <div class="overlay" >
                                    <div class="button-wrapper" >
                                        <div class="view-button" >
                                            <a class="link" href="single-album.html">
                                                <span><strong class="bold">View</strong><br>Album</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Album Item -->
                    <div class="col-md-3 col-sm-6 album-card-wrap nopadding">
                        <div class="album-card">
                            <div class="image hoverdir-target">
                                <img alt="image" src="images/album6.jpg" >
                                <div class="overlay" >
                                    <div class="button-wrapper" >
                                        <div class="view-button" >
                                            <a class="link" href="single-album.html">
                                                <span><strong class="bold">View</strong><br>Album</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Album Item -->
                    <div class="col-md-3 col-sm-6 album-card-wrap nopadding">
                        <div class="album-card">
                            <div class="image hoverdir-target">
                                <img alt="image" src="images/album7.jpg" >
                                <div class="overlay" >
                                    <div class="button-wrapper" >
                                        <div class="view-button" >
                                            <a class="link" href="single-album.html">
                                                <span><strong class="bold">View</strong><br>Album</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Album Item -->
                    <div class="col-md-3 col-sm-6 album-card-wrap nopadding">
                        <div class="album-card">
                            <div class="image hoverdir-target">
                                <img alt="image" src="images/album8.jpg" >
                                <div class="overlay" >
                                    <div class="button-wrapper" >
                                        <div class="view-button" >
                                            <a class="link" href="single-album.html">
                                                <span><strong class="bold">View</strong><br>Album</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ALBUMS -->

            <!-- TOURS -->
            <div id="tours">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/mic.jpg" class="img-responsive" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-11">
                                <h3>EVENEMENT</h3>
                                <ul class="tour-list">
                                    <li>
                                        <div class="tour-date">10<span>Nov <br><em>2016</em></span></div>
                                        <div class="tour-info">Danny valen<a href="#"></a></div>
                                        <div class="tour-ticket"><a href="{{ path_for('reservation') }}">reservez votre soiree</a></div>
                                    </li>
                                    <li>
                                        <div class="tour-date">11<span>Nov<br><em>2016</em></span></div>
                                        <div class="tour-info">Balle masqué et miss neptune <a href="#"></a></div>
                                        <div class="tour-ticket"><a href="{{ path_for('reservation') }}">reservez votre soiree</a></div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TOURS -->

            <!-- GALLERY / PORTFOLIO -->
            <div class="folio section active" >
                <div class="section-head text-center" id="gallery">
                    <h2>Notre galerie</h2>
                </div>

                <!-- Portfolio -->
                <div class="clearfix portfolio-wrapper">
                    <div id="portfolio-holder" class="clearfix">
                        <ul id="portfolio">
                            <!-- Portfolio Item -->
                            {%  if images %}
                            {%  for k in images %}
                            <li class="item hover-image-holder col-md-3">
                                <a href="images/gallerie/{{ k.file }}" class="prettyPhoto">
                                    <img src="images/gallerie/{{ k.file }}" class="img-responsive" alt="">
                                    <div class="caption">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </a>
                            </li>
                            {%  endfor %}
                            {%  endif %}

                        </ul>
                    </div>
                </div>
            </div>
            <!-- GALLERY / PORTFOLIO -->

            <!-- CONTACT -->
            <div id="contact">
                <div class="container">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Contact</h3>
                        <p><strong>Vous vous intéressez à notre club, écrivez-nous</strong></p>
                        <form  action="{{ path_for('contact') }}" method="post">
                            <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
                            <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
                            <label>Name (*)</label>
                            <input type="text" name="name" id="senderName" Required>
                            <label>Email Address (*)</label>
                            <input type="email" name="email" id="senderEmail" Required>
                            {#<label>Sujet</label>#}
                            {#<input type="text" name="subject" id="subject">#}
                            <label>Message</label>
                            <textarea name="message" id="message"></textarea>
                            <button class="button large" type="submit">Envoi</button>
                        </form>
                        <div id="successMessage" class="successmessage">
                            <p><span class="success-ico"></span> Thanks for sending your message! We'll get back to you shortly.</p>
                        </div>
                        <div id="failureMessage" class="errormessage">
                            <p><span class="error-ico"></span> There was a problem sending your message. Please try again.</p>
                        </div>
                        <div id="incompleteMessage" class="statusMessage">
                            <p>Please complete all the fields in the form before sending.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTACT -->

            <!-- TWEETS -->
            <div class="twitter-wrap">
                <div class="container">
                    <div id="tweecool"></div>
                </div>
            </div>
            <!-- TWEETS -->

            <!-- CLIENTS -->
            <div class="music-social-icons-container">
                <div class="music-social-icons text-center">
                    <!--<a href="#"><img src="images/clients/amazon.png" alt="" /></a>
                    <a href="#"><img src="images/clients/bandcamp.png" alt="" /></a>
                    <a href="#"><img src="images/clients/beatport.png" alt="" /></a>
                    <a href="#"><img src="images/clients/bigcartel.png" alt="" /></a>
                    <a href="#"><img src="images/clients/cdbaby.png" alt="" /></a>
                    <a href="#"><img src="images/clients/emusic.png" alt="" /></a>
                    <a href="#"><img src="images/clients/facebook.png" alt="" /></a>
                    <a href="#"><img src="images/clients/google.png" alt="" /></a>
                    <a href="#"><img src="images/clients/ilike.png" alt="" /></a>
                    <a href="#"><img src="images/clients/itunes.png" alt="" /></a>
                    <a href="#"><img src="images/clients/lastfm.png" alt="" ></a>
                    <a href="#"><img src="images/clients/mixcloud.png" alt="" /></a>
                    <a href="#"><img src="images/clients/myspace.png" alt="" /></a>
                    <a href="#"><img src="images/clients/purevolume.png" alt="" /></a>
                    <a href="#"><img src="images/clients/residentadvisor.png" alt="" /></a>
                    <a href="#"><img src="images/clients/reverbnation.png" alt="" /></a>
                    <a href="#"><img src="images/clients/soundcloud.png" alt="" /></a>
                    <a href="#"><img src="images/clients/spotify.png" alt="" /></a>
                    <a href="#"><img src="images/clients/triplej.png" alt="" /></a>
                    <a href="#"><img src="images/clients/twitter.png" alt="" /></a>
                    <a href="#"><img src="images/clients/unsigned.png" alt="" /></a>
                    <a href="#"><img src="images/clients/vimeo.png" alt="" /></a>
                    <a href="#"><img src="images/clients/youtube.png" alt="" /></a>
                    <a href="#"><img src="images/clients/zune.png" alt="" /></a>-->
                </div>
            </div>
            <!-- CLIENTS -->

            <!-- FOOTER -->
            <section class="footer">
                <div class="container">
                    <div class="col-md-3">
                        <div class="widget-content">
                            <h3 class="widget-title">APROPOS</h3>
                            <div class="textwidget">
                                <p>une discothèque accessible clients . Avec un bar extérieur et vue sur mer, vous
 aller pouvoir passer d’agréable soirée sur des style de musique diversifie</p>
                                <p class="hidden-xs">&copy; Copyright 2016. Neptune club. <br>All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget-content">
                            <h3 class="widget-title">Lien</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="footer-links">
                                        <li><a href="#">Evenement</a></li>
                                        <li><a href="#">Gallerie</a></li>
                                        <li><a href="#">Playlist</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget-content">
                            <h3 class="widget-title">Instafeed</h3>
                            <ul class="instafeed">
                                <li><a href="#"><img src="images/portfolio/1.jpg" alt=""/></a></li>
                                <li><a href="#"><img src="images/portfolio/2.jpg" alt=""/></a></li>
                                <li><a href="#"><img src="images/portfolio/3.jpg" alt=""/></a></li>
                                <li><a href="#"><img src="images/portfolio/4.jpg" alt=""/></a></li>
                                <li><a href="#"><img src="images/portfolio/5.jpg" alt=""/></a></li>
                                <li><a href="#"><img src="images/portfolio/6.jpg" alt=""/></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget-content">
                            <h3 class="widget-title">Newsletter</h3>
                            <div class="form mc-form">
                                <form>
                                    <input name="EMAIL" placeholder="Votre Adresse email" required="" type="email">
                                    <button type="submit" class="btn btn-border">Souscrire</button>
                                </form>
                            </div>
                            <br>



                        </div>
                    </div>
                </div>
            </section>
            <!-- FOOTER -->

        </div>
    </div>

    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/tweecool.min.js"></script>
    <script src="js/jplayer.playlist.min.js"></script>
    <script src="js/jquery.jplayer.min.js"></script>
    <script src="js/superfish/js/hoverIntent.js"></script>
    <script src="js/superfish/js/superfish.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/prettyphoto/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/custom.js"></script>

    <script src="js/supersized/supersized.3.2.7.min.js"></script>
    <script src="js/supersized/main.js"></script>

    </body>
{% endblock %}
